{% extends "layout.html" %}
{% block content %}

<textarea name="name" rows="30" cols="80" wrap="soft">
    (our text editor)
    </textarea>
    <!-- {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %} -->
{% endblock content %}